@import '~bootstrap/scss/bootstrap.scss';

.main{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #EFE9E4;
}

.debug{
  background-color: rgba(165, 42, 42, 0.459);
  border: 1px solid brown;
}